h1{
    background-color:red;
    border: solid 2px red;
    }
    
    #hi{
    background-color:orange;
    }
    
    .center{
        text-align: center;
        color: red;
    }
    
    *{
    font-family:monospace;
    }